@use "screen" as *;
@use "sass:color";
@use "../mixins";
@use "../variables";

.screen.calibration {
  @include screen;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  min-height: 60vh;

  .progress-buttons {
    padding-top: 10vh;
  }
}
