@use "screen" as *;
@use "sass:color";
@use "../mixins";
@use "../variables";

.screen.calibration {
  @include screen;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  min-height: 60vh;

  .calibration-buttons {
    margin-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    button {
      font-size: 5vh;
      min-width: fit-content;
      width: 50%;

      &:first-child {
        margin-right: auto;
      }

      &:last-child {
        margin-top: 3rem;
        margin-left: auto;
      }
    }
  }

  .progress-buttons {
    margin-top: 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;

    button {
      font-size: 1.3rem;
    }
  }
}
