@use "screen" as *;
@use "sass:color";
@use "../mixins";
@use "../variables";

.screen.scoring {
  @include screen;

  display: flex;
  flex-direction: column;
  gap: 10vh;
  min-height: 60vh;

  header h2 {
    margin-bottom: 10px;
  }

  .progress-buttons {
    margin-top: 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;

    button {
      font-size: 1.3rem;
    }
  }
}
