@use "screen" as *;
@use "sass:color";
@use "../mixins";
@use "../variables";

.screen.scoring {
  @include screen;

  display: flex;
  flex-direction: column;
  gap: 10vh;
  min-height: 60vh;

  header h2 {
    margin-bottom: 10px;
  }
}
