@use "screen" as *;
@use "../variables" as *;
@use "../mixins" as *;

.screen.entity-setup {
  @include screen;

  margin-top: 2vh;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 2rem;

  .setup-container {
    display: grid;
    gap: 1rem;

    @include breakpoint("desktop") {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
  }

  .setup {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include breakpoint("desktop") {
      display: grid;
      grid-template-rows: 3rem 25vh auto;
      justify-content: space-between;
    }

    &[data-active="false"] {
      display: none;
      @include breakpoint("desktop") {
        display: grid;
      }
    }
  }

  .tag-input {
    max-width: 100%;
    font-size: 3vh;

    input {
      width: 20vw;
    }

    &[empty="true"],
    &.empty {
      flex-grow: 0;

      + p {
        flex-grow: 1;
        max-width: 85%;
      }
    }

    .buttons {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }

    .tag-container {
      max-height: 20vh;

      overflow-y: scroll;
    }
  }

  .progress-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 0.1rem;
    margin-left: auto;
    width: fit-content;

    button {
      width: fit-content;
      margin: 0 0.5rem;
    }

    @include breakpoint("desktop") {
      #toggle-view {
        display: none;
      }
    }
  }
}
