@use "sass:color";
@use "../screen" as *;
@use "../../mixins" as *;
@use "../../variables" as *;

.screen.calibration {
  @include screen;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  min-height: 60vh;

  .progress-buttons {
    padding-top: 10vh;
  }
}
