.setup {
  margin: 1rem auto;
  font-size: xx-large;

  header {
    margin-bottom: 1rem;
  }

  button {
    font-size: xx-large;
  }
}

.calibration,
.scorring {
  text-align: center;

  header > p {
    font-size: x-large;
  }

  button {
    min-width: 30%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    font-size: xx-large;
  }
}
