@import "../index.scss";

.page {
  width: 100%;
  padding: 0 0.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;

  &.home {
    > header {
      width: 100%;
      margin: 0 0 1rem 0;
      text-align: center;

      > h1 {
        font-size: 3.5rem;
      }
    }

    > main {
      text-align: center;

      button {
        font-size: xx-large;
        background-color: $c-main;
      }
    }
  }

  &.borda {
  }

  &.history {
    header {
      margin: auto auto 1rem auto;
    }

    main {
      margin: auto;
      width: 50%;
      text-align: center;

      ul {
        list-style: none;
        margin-bottom: 1rem;
      }

      button {
      }
    }
  }
}
