@import "../../index.scss";

nav.navbar {
  justify-content: center;
  position: relative;
  padding: 0.5rem 1rem;

  .brand {
    display: inline-block;
    font-size: xx-large;
  }

  .menu {
    display: inline-block;
    align-self: flex-start;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  ul {
    display: flex;
    list-style: none;

    li {
      display: flex;
      margin: 0 0.5rem;
      font-size: x-large;

      a {
        color: $c-text;
        text-decoration: none;
      }
    }
  }
}
