@use "variables" as *;
@use "mixins" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html,
body {
  height: 100vh;
  color: $c-text;
  background-color: $c-bg;
  font-family: Arial, sans-serif;
}

p {
  font-weight: normal;
  line-height: 120%;
}

.main {
  color: $c-main;
}

.accent {
  color: $c-accent;
}

.disabled {
  color: $c-disabled;
}

.italic {
  font-style: italic;
}

.text-no-wrap {
  white-space: nowrap;
}

.underline {
  text-decoration: underline;
}

.hide-mobile {
  @include breakpoint(phone-lg, max) {
    display: none !important;
  }
}
