@use "page" as *;
@use "../variables" as *;

.page.borda {
  @include page;

  align-items: center;
  justify-content: space-between;

  header {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid $c-main;
    overflow-x: hidden;
    white-space: nowrap;

    h1 {
      text-align: left;
      font-size: 3vh;
    }
  }
}
