@use "page" as *;
@use "../variables" as *;

.page.borda {
  @include page;

  align-items: center;
  justify-content: space-between;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1vh 0;

    h2 {
      font-size: 5vh;
    }
  }
}
