@use "page" as *;
@use "../variables" as *;
@use "../mixins" as *;

.page.home {
  @include page;

  padding: 0 10%;

  @include breakpoint(desktop) {
    padding: 0 20%;
  }

  header {
    width: 100%;
    text-align: center;
    padding-bottom: 2vh;

    h1 {
      margin: 5% 0;
      font-size: 14vw;

      @include breakpoint(desktop) {
        margin: 1%;
        font-size: 5vw;
      }

      &::before {
        content: "Score";
      }

      &::after {
        content: "Borda";
        color: $c-main;
      }
    }

    h4 {
      font-size: 5.5vw;
      line-height: 100%;

      @include breakpoint(desktop) {
        font-size: 2vw;
      }
    }
  }

  main {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;

    .link-button {
      font-size: 5vh;
      margin-top: 10%;
      margin-left: auto;

      @include breakpoint(desktop) {
        font-size: 4vw;
        margin: 10% auto;
      }
    }

    p {
      font-size: 4.5vw;
      font-weight: 600;
      line-height: 120%;

      @include breakpoint(desktop) {
        font-size: 1.5rem;
      }
    }
  }
}
