@use "../variables" as *;
@use "../mixins" as *;

// TODO Extract page stylings

@mixin page {
  width: 100%;
  padding: 1rem 5%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @include breakpoint("desktop") {
    width: 60%;
  }

  &.history {
    header {
      margin: auto auto 1rem auto;
    }

    main {
      margin: auto;
      width: 50%;
      text-align: center;

      ul {
        list-style: none;
        margin-bottom: 1rem;
      }
    }
  }
}
