@use "../variables" as *;
@use "../mixins" as *;

// TODO Extract page stylings

@mixin page {
  width: 100%;
  
  padding: 0 0.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &.history {
    header {
      margin: auto auto 1rem auto;
    }

    main {
      margin: auto;
      width: 50%;
      text-align: center;

      ul {
        list-style: none;
        margin-bottom: 1rem;
      }
    }
  }
}

.calibration,
.scoring {
  text-align: center;

  header > p {
    font-size: x-large;
  }

  button {
    min-width: 30%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    font-size: xx-large;
  }
}
