$c-bg: #333;
$c-main: #d72638;
$c-accent: #266dd3;
$c-text: #edf2ef;

$margin: 0.1rem;
$padding: 0.1rem;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html,
body,
#root,
.app {
  height: 100%;
  color: $c-text;
  background-color: $c-bg;
}

button {
  padding: $padding * 2 1rem;
  margin: $margin;
  border-radius: 5px;

  background-color: $c-main;
  color: $c-text;
  cursor: pointer;

  transition: transform 0.3s ease, box-shadow 0.4s ease,
    background-color 0.3s ease;

  &:hover {
    background-color: lighten($c-main, 3%);
    transform: translateY(-5%);
    box-shadow: 0.1rem 0.1rem 0.1rem black;
  }

  &:active {
    background-color: darken($c-main, 5%);
  }

  &:focus {
    border: none;
    outline: none;
  }
}

a {
  color: $c-main;
  text-decoration: none;
}

.app {
  position: relative;

  > footer {
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;

    a {
      color: $c-text;
    }
  }
}
