@import "../../index.scss";

.input-column {
  display: flex;
  flex-direction: column;

  > form {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: fit-content;

    > .text-input {
      margin-right: 0;
    }

    > button[type="submit"] {
      background-color: $c-accent;
      padding: 0.1rem 0.3rem 1px 0.3rem;
      margin: 0 1px;
      border-radius: 1px;
    }
  }

  > ul {
    margin-top: 1rem;
    flex-grow: 1;
    list-style: none;

    > li {
      padding: 0.1rem;
      color: $c-text;
      background-color: transparent;

      &:hover {
        cursor: pointer;
        text-decoration: line-through;
        color: red;
      }
    }
  }
}
